{% trans_default_domain 'FOSUserBundle' %}

<form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">
  {% if csrf_token %}
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
  {% endif %}

  <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">
    Please sign in
  </h1>

  {% if error and error.messageKey is defined %}
    <div class="alert alert-primary" role="alert">
      {{ error.messageKey|trans(error.messageData, 'security') }}
    </div>
  {% endif %}

  <label for="username" class="sr-only">{{ 'security.login.username'|trans }}</label>
  <input type="text" id="username" class="form-control" placeholder="{{ 'security.login.username'|trans }}" required="required" autofocus="autofocus" autocomplete="username" name="_username" value="{{ last_username }}" />

  <label for="password" class="sr-only">{{ 'security.login.password'|trans }}</label>
  <input type="password" id="password" class="form-control" placeholder="{{ 'security.login.password'|trans }}" required="required" autocomplete="current-password" name="_password" />
  
  <div class="checkbox mb-3">
    <label for="remember_me">
      <input type="checkbox" name="_remember_me" value="on"> {{ 'security.login.remember_me'|trans }}
    </label>
  </div>
  
  <button class="btn btn-lg btn-primary btn-block" type="submit" id="_submit" name="_submit">{{ 'security.login.submit'|trans }}</button>
</form>

